<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Quick message</title>
</head>
<body>
    <h1>Приложение для обмена сообщениями</h1>
    
    <form id="send-message-form">
        <input type="text" id="recipient" placeholder="Кому" required>
        <input type="text" id="message" placeholder="Сообщение" required>
        <button type="submit">Отправить</button>
    </form>

    <div id="messages"></div>

    <script>
        const messageList = document.getElementById('messages');
        const socket = new WebSocket("ws://localhost:8000/ws");

        socket.onmessage = function(event) {
            const message = document.createElement('div');
            message.textContent = event.data;
            messageList.appendChild(message);
        };

        const submitForm = async () => {
            const form = document.getElementById('send-message-form');
          
            form.onsubmit = (e) => {
                e.preventDefault();
                const recipient = document.getElementById('recipient').value;
                const message = document.getElementById('message').value;

                socket.send(`Кому: ${recipient}, Сообщение: ${message}`);

                document.getElementById('recipient').value = '';
                document.getElementById('message').value = '';
            }
        };

        submitForm();
    </script>
</body>
</html>
